header{
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 5%;
  background-color: transparent;
  transition: top 0.3s, background-color 0.5s;
  z-index: 1;
}
.cabecera{
    display: inline-flex;
    background-color: #282434;
    border-radius: 1vw;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 50%;
}
.logo{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
}
.imgLogo{
    width: 4.2vw;
}
.logo > span{
    display: block;
    text-align: center;
    font-size: 1vw;
    color: white;
}
.menu{
    box-sizing: border-box;
    width: 80%;
    & ul{
        display: flex;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        & li{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0 2vw;
            color: white;
            font-size: 1vw;
            width: calc(100% / 3);
            transition: background-color 0.5s, color 0.5s;
        }
        & li:nth-child(3){
          border-radius: 0 1vw 1vw 0;
        }
        & li:hover{
            background-color: #3A5159;
            color: white;
        }
    }
}
.divButtonContacto > span:nth-child(1){
  font-size: 2.5vh;
  font-weight: bold;
}
.divButtonContacto > span:nth-child(2){
  font-size: 1.9vh;
  font-weight: bold;
}