main{
  position: relative;
}
.divPortadas{
  position: relative;
  background-color: #FBE47E;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divMover{
  position: absolute;
  width: 100%;
}
.divPortada{
  position: relative;
}
.imgRestaurante{
  width: 100%;
  height: 100vh;
}
.divTextoPortada{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.divTextoPortada > span:nth-child(1){
  color: #FBE47E;
  font-size: 2vw;
  margin-bottom: 0.5em;
}
.divTextoPortada > span:nth-child(2){
  font-size: 2.4vw;
  color: white;
  margin-bottom: 0.5em;
}
@keyframes mover {
  0% {
    background-color: #FBE47E;
    transform: scale(1);
  }
  50% {
    background-color: #ffeea2;
    transform: scale(1.2);
  }
  100% {
    background-color: #FBE47E;
    transform: scale(1);
  }
}
.divTextoPortada > button{
  background-color: #FBE47E;
  border: 0;
  width: min-content;
  font-size: 1.5vw;
  padding: 0.5em 1em;
  cursor: pointer;
}
.divTextoPortada > button:hover{
  animation: mover 2s infinite ease;
}
.divFlecha{
  position: absolute;
  background-color: #282434;
  width: 1.5vw;
  padding: 1em;
}
.derecha{
  left: 95%;
  top: 50%;
  transform: translate(-95%,-50%);
}
.izquierda{
  left: 5%;
  top: 50%;
  transform: translate(-5%,-50%);
}
.imgFlecha{
  transition: transform 1s ease;
}
.imgFlecha:hover{
  transform: scale(1.2);
}
/*aside*/
aside{
  display: grid;
  justify-content: center;
  grid-template-columns: 80%;
  font-family: Arial;
  margin-bottom: 1.5vh;
  gap: 1vw;
}
/*section*/
section{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2,40%);
}
/*footer*/
.footerMain{
  margin-top: 1em;
  padding-top: 1em;
  background-color: #161616;
  display: grid;
  grid-template-columns: 90%;
  gap: 1em;
  justify-content: center;
  font-family: Arial;
  padding-bottom: 5vh;
}
.divImgFooter, .divSubImgFooter{
  display: grid;
  grid-template-columns: repeat(2,50%);
}
.divImgFooter{
  gap: 0.5vw;
}
.imgFooter{
  width: 100%;
}
/*div separador*/
.divSeparados{
  display: grid;
  grid-template-columns: repeat(2,50%);
  background-image: 
  linear-gradient(
    to right,
    #e19b0f 45%,#0e64dd 60%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divSeparador1,.divSeparador2{
  display: grid;
  grid-template-columns: 100%;
}
.divSeparador1{
  border-right: 0.2vw solid rgb(74, 74, 74);
  
}
.divSeparador2{
  border-left: 0.2vw solid rgb(74, 74, 74);
}
.divImgSep{
  display: flex;
  justify-content: center;
}
.imgSeparador{
  width: 85%;
  height: 70vh;
}
.divInfo{
  display: grid;
  padding-top: 1vh;
  grid-template-areas: 
  "nombre boton"
  "descripcion descripcion";
}