footer {
  padding: 0 6vw;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.divTituloFooter {
  height: 20vh;
  display: flex;
  align-items: center;
}
.divTituloFooter > span {
  font-size: 8vh;
}
.divPanelesFooter {
  display: flex;
  flex-wrap: wrap;
}
.divPanelFooter {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  margin: 5vh 0;
}
.divPanelFooter > span {
  font-size: 2.5vh;
}
.divIconos {
  display: flex;
}
.imgIconos {
  width: 10%;
  margin-right: 1vw;
}
.divBotones {
  display: flex;
  margin-top: 1.5vh;
}
.divBotones > input {
  width: 70%;
  height: 7vh;
  background-color: #eee;
  border: none;
  font-size: 2vh;
  font-weight: bold;
  padding-left: 1vw;
}
.divBotones > button {
  width: 30%;
  background-color: blue;
  color: white;
  border: none;
  font-size: 2vh;
  font-weight: bold;
}
.divSelect {
  display: flex;
}
.divSelect select {
  width: 40%;
  border: none;
  height: 5vh;
  margin-right: 0.3vw;
  font-weight: bold;
  padding-left: 0.5vw;
  font-size: 1vw;
}
.divFooterEnlaces {
  display: flex;
  height: 10vh;
}
.divFooterEnlaces ul {
  display: flex;
}
.divFooterEnlaces li {
  list-style: none;
  margin-right: 1vw;
  font-weight: bold;
  font-size: 0.9vw;
}
.divFooterEnlaces div {
  display: flex;
  width: 50%;
  align-items: center;
}
.divFooterEnlaces div:nth-child(2) {
  justify-content: right;
}
.divFooterEnlaces div:nth-child(2) > span {
  font-size: 3vh;
  margin-right: 1vw;
}
.divFooterEnlaces div:nth-child(2) > img {
  height: 6vh;
}
